@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Serif+HK:wght@200..900&family=Pathway+Extreme&display=swap');

:root {
  --background: #f5f4ed;
  --text: #282f44;
  --frame: #8686bf;
  --btn: #5f5e94;
  --highlight: #f7eabb;
  --error: #f7bbbb;
  --font-bold: 'Jost', san serif;
  --font-heading: 'Noto Serif', serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--background);
  color: var(--text);
}
#app {
  display: flex;
}
.btn {
  background-color: var(--btn);
  color: var(--background);
  border-radius: 10px;
  font-family: var(--font-bold);
  font-weight: 600;
  font-stretch: expanded;
  text-align: center;
  width: 142px;
  height: 34px;
}
h1 {
  font-family: var(--font-bold);
  font-size: 72px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-family: var(--font-bold);
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}
h3 {
  margin: 7px;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
  font-family: var(--font-bold);
  font-size: 20px;
  font-weight: 500;
}
label {
  font-size: 24px;
}
.key {
  font-family: var(--font-bold);
  position: absolute;
  align-items: left;
  display: flex;
  flex-direction: column;
  color: var(--text);
  padding: 30px;
  width: 30vw;
  border-radius: 30px;
  background-color: var(--background);
  border: var(--btn) solid 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 5px 5px #261d4b19;
}
#keyH3 {
  font-size: 80px;
  font-weight: 500;
}

.plainTextKey {
  margin: 0;
}
.childKey {
  font-weight: 300;
  margin: 30px;
  margin-top: 0;
  font-size: 36px;
}

button {
  all: unset;
  text-align: center;
}
.keyBtn {
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 56px;
  padding: 0 13px;
  font-size: 20px;
}
